/*.relatedness-level1 {
  margin-left: 2em;
}
.relatedness-level2 {
  margin-left: 4em;
}
.relatedness-level3 {
  margin-left: 6em;
}
.relatedness-level3 {
  margin-left: 8em;
}*/

.field-type-relatedness-field .form-item {
  margin: 0;
  padding: .5em;
  float: left;
}

.relatedness_group.form-wrapper {
  overflow: hidden;
  border: 0;
  margin: 0; padding: 0;
}